body{

font-family:Arial;

background:#f2f2f2;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

background:white;

padding:40px;

width:350px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.2);

}

input{

width:100%;

padding:12px;

margin-top:15px;

box-sizing:border-box;

}

button{

width:100%;

padding:12px;

margin-top:20px;

background:#1976d2;

color:white;

border:none;

cursor:pointer;

}

button:hover{

background:#1258a8;

}

#message{

margin-top:20px;

font-weight:bold;

}