<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Change Password</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="container">

    <h1>Change Password</h1>

    <p class="error" th:if="${error}" th:text="${error}"></p>

    <form th:action="@{/change-password/{id}(id=${userId})}" method="post">

        <input
                type="password"
                name="currentPassword"
                placeholder="Current Password"
                required>

        <input
                type="password"
                name="newPassword"
                placeholder="New Password"
                required>

        <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                required>

        <button type="submit">

            Update Password

        </button>

    </form>

    <a
            class="btn"
            th:href="@{/home/{id}(id=${userId})}">
        Home
    </a>

</div>

</body>

</html>
