<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Edit Profile</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="container">

    <h1>Edit Profile</h1>

    <p class="error" th:if="${error}" th:text="${error}"></p>

    <form
            th:action="@{/edit-profile/{id}(id=${user.id})}"
            method="post">

        <input
                type="text"
                name="firstName"
                th:value="${user.firstName}"
                required>

        <input
                type="text"
                name="lastName"
                th:value="${user.lastName}"
                required>

        <label for="dob">Date of Birth (DOB)</label>
        <input
                type="date"
                id="dob"
                name="dob"
                th:value="${user.dob}"
                required>

        <select
                name="gender"
                required>

            <option value="MALE"
                    th:selected="${user.gender.name()=='MALE'}">
                Male
            </option>

            <option value="FEMALE"
                    th:selected="${user.gender.name()=='FEMALE'}">
                Female
            </option>

            <option value="OTHER"
                    th:selected="${user.gender.name()=='OTHER'}">
                Other
            </option>

        </select>

        <input
                type="text"
                name="phoneNumber"
                th:value="${user.phoneNumber}"
                required>

        <button type="submit">

            Save Changes

        </button>

    </form>

    <a class="btn"
       th:href="@{/profile/{id}(id=${user.id})}">
        Back
    </a>

</div>

</body>
</html>
