<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Home</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="container large">

    <h1>Welcome</h1>

    <a class="btn"
       th:href="@{/profile/{id}(id=${userId})}">
        View Profile
    </a>

    <a class="btn"
       th:href="@{/edit-profile/{id}(id=${userId})}">
        Edit Profile
    </a>

    <a class="btn"
       th:href="@{/change-password/{id}(id=${userId})}">
        Change Password
    </a>

    <a class="btn logout"
       href="/login">
        Logout
    </a>

</div>

</body>
</html>
