<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container large">

    <h1>User Profile</h1>

    <p class="message" th:if="${message}" th:text="${message}"></p>

    <table>

        <tr>
            <td><b>First Name</b></td>
            <td th:text="${user.firstName}"></td>
        </tr>

        <tr>
            <td><b>Last Name</b></td>
            <td th:text="${user.lastName}"></td>
        </tr>

        <tr>
            <td><b>Email</b></td>
            <td th:text="${user.email}"></td>
        </tr>

        <tr>
            <td><b>Phone Number</b></td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>

        <tr>
            <td><b>Date Of Birth</b></td>
            <td th:text="${user.dob}"></td>
        </tr>

        <tr>
            <td><b>Age</b></td>
            <td th:text="${user.age}"></td>
        </tr>

        <tr>
            <td><b>Gender</b></td>
            <td th:text="${user.gender}"></td>
        </tr>

    </table>

    <a class="btn"
       th:href="@{/edit-profile/{id}(id=${user.id})}">
        Edit Profile
    </a>

    <a class="btn"
       th:href="@{/home/{id}(id=${user.id})}">
        Home
    </a>

</div>

</body>
</html>
