<!DOCTYPE html>
<html>
<head>

    <title>Signup</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">

    <h1>Create Account</h1>
    <form id="signupForm">

        <input type="text" id="fullName" placeholder="Full Name" required>

        <input type="email" id="email" placeholder="Email" required>

        <input type="password" id="password" placeholder="Password" required>

        <button>Sign Up</button>

    </form>
    <p id="message"></p>

</div>

<script>

    const form = document.getElementById("signupForm");

    form.addEventListener("submit", async (e) => {

        e.preventDefault();

        const response = await fetch("/signup", {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify({

                fullName: fullName.value,

                email: email.value,

                password: password.value

            })

        });

        const result = await response.text();

        document.getElementById("message").innerText = result;

    });

</script>

</body>

</html>